@font-face {
    font-family: 'main-regular';
    src: url('../assets/fonts/InterDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'main-bold';
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'secondary-regular';
    src: url('../assets/fonts/Anton-Regular.woff2') format('woff2');
}


.main-regular {
    font-family: 'main-regular', sans-serif;
}

.main-bold {
    font-family: 'main-bold', sans-serif;
}

.secondary-regular {
    font-family: 'secondary-regular', sans-serif;
}


.fs-20 {
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}

.fs-25 {
    font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.5625rem);
}

.fs-30 {
    font-weight: 700;
    font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.875rem);
}

.text-center {
    text-align: center;
}

.text-red {
    color: var(--red);
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--white);
}

.capitalize {
    text-transform: capitalize;
}

.up-case {
    text-transform: uppercase;
}

h1 {
    font-size: clamp(9.375rem, -1.125rem + 52.5svw, 46.125rem);
    line-height: clamp(9.375rem, -1.125rem + 52.5vw, 43.125rem);
    white-space: nowrap;
}

h2 {
    white-space: nowrap;
    font-size: clamp(3.4375rem, -0.5268rem + 19.8214vw, 17.3125rem);
}


h3 {
font-size: clamp(3.125rem, 0.4464rem + 13.3929vw, 12.5rem);
line-height: clamp(3.125rem, 0.4464rem + 13.3929vw, 12.5rem);
}

h4 {
    font-size: clamp(1.5625rem, 0.2232rem + 6.6964vw, 6.25rem);
    letter-spacing: 0;
    font-weight: 700;
}

h5 {
    font-size:clamp(1.875rem, 1.5179rem + 1.7857vw, 3.125rem);
    white-space: wrap;
}

h6 {
    font-size: clamp(1.375rem, 1.1964rem + 0.8929vw, 2rem);
}

p {
    text-align: justify;
}
